<nav class="navbar navbar-dark bg-primary">
  <form class="form-inline" style="width: 100%" #form="ngForm">
    <label for="canFrame" class="col-form-label col-form-label-lg mx-5 text-white">CAN Frame</label>
    <input type="text" name="canFrame" id="canFrame"
           class="form-control form-control-lg" style="flex-grow: 1"
           placeholder="18FEEE00#795ADE2CFFFFFEFF"
           [ngModel]="canFrame.value"
           (ngModelChange)="onChange($event)"
           required>
  </form>
</nav>
<p>{{form.value | json}}</p>
<p>{{canFrame | json}}</p>
<p>{{canFrameResult | json}}</p>

<table class="table" *ngIf="canFrameResult">
  <thead class="thead-dark">
    <tr>
      <th>SPN</th>
      <th>Byte Start</th>
      <th>Bit Length</th>
      <th>Resolution</th>
      <th>Offset</th>
      <th>Units</th>
      <th>Raw Data</th>
      <th>Raw Value</th>
      <th>Actual Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let spn of canFrameResult.definition.spns">
      <td>{{spn.name}}</td>
      <td>{{spn.bytePosition}}</td>
      <td>{{spn.bitLength}}</td>
      <td>{{spn.resolution}}</td>
      <td>{{spn.offset}}</td>
      <td>{{spn.units}}</td>
      <td>{{canFrameResult.spnValues[spn.number].rawData.join(' ') }}</td>
      <td>{{canFrameResult.spnValues[spn.number].rawValue }}</td>
      <td>{{canFrameResult.spnValues[spn.number].actualValue }}</td>
    </tr>
  </tbody>
</table>
