<nav class="navbar navbar-dark bg-primary">
  <form class="form-inline" style="width: 100%" #form="ngForm">
    <label for="canFrame" class="col-form-label col-form-label-lg mx-5 text-white">CAN Frame</label>
    <input type="text" name="canFrame" id="canFrame"
           class="form-control form-control-lg" style="flex-grow: 1"
           placeholder="18FEEE00#795ADE2CFFFFFEFF"
           [ngModel]="canFrame.value"
           (ngModelChange)="onChange($event)"
           required>
  </form>
</nav>
<p>{{canFrame | json}}</p>
<p>{{form.value | json}}</p>
<p>
  Decoder works!
</p>
