<nav class="navbar navbar-dark bg-primary mb-3">
  <form class="form-inline" style="width: 100%" #canFrameForm="ngForm">
    <label class="col-form-label col-form-label-lg mx-5 text-white">CAN Frame</label>
    <input type="text" name="canFrameValue"
           class="form-control form-control-lg" style="flex-grow: 1"
           [ngModel]="canFrame.value"
           (ngModelChange)="onChange($event)"
           placeholder="18FEEE00#795ADE2CFFFFFEFF"
           pattern="^[0-9A-Fa-f]{8}#[0-9A-Fa-f]{16}$"
           required>
  </form>
</nav>

<div class="alert alert-danger" role="alert" *ngIf="canFrameForm.dirty && canFrameForm.invalid">
  Enter CAN frame in correct format, e.g. 18FEEE00#795ADE2CFFFFFEFF
</div>

<div class="alert alert-danger" role="alert" *ngIf="decoderError">
  {{decoderError}}
</div>

<div *ngIf="canFrameResult">

  <h1 class="display-4">
    {{canFrameResult.definition.name}} ({{canFrameResult.definition.acronym}})</h1>

  <p class="lead">PGN: {{canFrame.pgn}} - {{canFrame.pgnDec}}</p>
  <p class="lead">DATA: {{canFrame.data.join(' ')}}</p>

  <table class="table table-sm small" *ngIf="canFrameResult">
    <thead class="thead-dark">
      <tr>
        <th>SPN</th>
        <th>Name</th>
        <th>Byte Start</th>
        <th>Bit Length</th>
        <th>Resolution</th>
        <th>Offset</th>
        <th>Units</th>
        <th>Raw Data</th>
        <th>Raw Value</th>
        <th>Actual Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spn of canFrameResult.definition.spns">
        <td class="table-active">{{spn.number}}</td>
        <td class="table-active">{{spn.name}}</td>
        <td class="table-light">{{spn.bytePosition}}</td>
        <td class="table-light">{{spn.bitLength}}</td>
        <td class="table-light">{{spn.resolution}}</td>
        <td class="table-light">{{spn.offset}}</td>
        <td class="table-light">{{spn.units}}</td>
        <td class="table-primary">{{canFrameResult.spnValues[spn.number].rawData.join(' ') }}</td>
        <td class="table-primary">{{canFrameResult.spnValues[spn.number].rawValue }}</td>
        <td class="table-success">{{canFrameResult.spnValues[spn.number].actualValue }}</td>
      </tr>
    </tbody>
  </table>
</div>
